<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings file="../sapHowmuch.Api.Web/appSettings.config">
	</appSettings>
	<connectionStrings configSource="../sapHowmuch.Api.Web/connectionStrings.config">
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
</configuration>